<div class="event-details">
  <div class="event-info">
    <div class="event-creator">
      <h4 class="label">Hosted by:</h4>
      <%= link_to creator.username, user_path(creator), class: 'important-link' %>
    </div>
    <% unless %w(happening_date happening_time).all? { |attribute| event[attribute].blank? } %>
      <div class="event-date-time">
        <h4 class="label">When:</h4>
        <%= [event.happening_date&.strftime('%B %-d, %Y'),
             event.happening_time&.strftime('%-I:%M %p')]
            .compact.join(' at ') %>
      </div>
    <% end %>
    <% unless event.location.blank? %>
      <div class="event-location">
        <h4 class="label">Where:</h4>
        <%= event.location %></div>
    <% end %>
    <% unless event.description.blank? %>
      <div class="event-description">
        <h4 class="label">Details:</h4>
        <%= event.description %>
      </div>
    <% end %>
    <br />
    <div class="event-privacy-status">
      <h4 class="label">This event is:</h4>
      <%= Event.human_attribute_name(@event.privacy_status) %>
    </div>
    <h4 class="label">Attendees:</h4>
      <ul>
        <% attendees.each do |attendee| %>
          <li><%= link_to attendee.username, user_path(attendee) %></li>
        <% end %>
      </ul>
    <% if current_user == creator %>
      <% unless (not_responded = User.not_responded_invitation(event)).empty? %>
        <h4 class="label">Invited:</h4>
        <ul>
          <% not_responded.each do |invitee| %>
            <li><%= link_to invitee.username, user_path(invitee) %></li>
          <% end %>
        </ul>
      <% end %>
      <% unless (declined = User.declined_invitation(event)).empty? %>
        <h4 class="label">Declined:</h4>
        <ul>
          <% User.declined_invitation(event).each do |invitee| %>
            <li><%= link_to invitee.username, user_path(invitee) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
      </div>
  <%= render 'shared/event_links', event: event, curr_user: current_user %>
</div>
