<%= form_with model: event do |form| %>
  <div class="creator">
    <p>Host: <strong><%= current_user.username %></strong></p>
  </div>

  <div class="field">
    <%= form.label :name, 'What is the name of your event?' %>
    <%= form.text_field :name %>
    <% event.errors.full_messages_for(:name).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <p>Where and when is your event happening?</p>

  <div class="field">
    <%# Not using form.datetime_select due to Rails's wonky placement of the AM/PM marker %>
    <div class="happening-datetime">
      <%= form.label :happening_date, 'Date:' %>
      <%= form.date_field :happening_date %>
      <div class="happening-time">
        <%= form.label :happening_time, 'Time:' %>
        <%= form.time_field :happening_time %>
      </div>
    </div>
    <% %i(happening_date happening_hour happening_minute happening_ampm).each do |attribute| %>
      <% event.errors.full_messages_for(attribute).each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location, 'Location:' %>
    <%= form.text_field :location %>
    <% event.errors.full_messages_for(:location).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <div class="field">
    This event is:
    <% Event.privacy_statuses.keys.each do |status| %>
      <%= form.radio_button :privacy_status, status %>
      <%= form.label "privacy_status_#{status}", Event.human_attribute_name(status) %>
    <% end %>
    <% event.errors.full_messages_for(:privacy_status).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :invitee_usernames, 'Invite users to your event (optional):' %>
    <p>(Separate each username with a comma)</p>
    <%= form.text_area :invitee_usernames, value: @invitee_usernames, placeholder: 'user 1, user 2, user 3,...' %>
    <% event.invitations.each do |invitation| %>
      <% invitation.errors.full_messages_for(:invitee_username).each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    <% end %>
    <% if event.invitations.any? { |invitation| invitation.errors[:invitee].any? } %>
      <p>Removed the following users from invite list:</p>
      <ul>
        <% event.invitations.each do |invitation| %>
          <% invitation.errors.full_messages_for(:invitee).each do |message| %>
            <li class="error"><%= message %></li>
          <% end %>
        <% end %>
      </ul>
      <% action = event.new_record? ? 'create' : 'update' %>
      <p>Click "<%= action.capitalize %> Event" again to <%= action %> your event.</p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description, 'Provide a brief description of your event:' %>
    <%= form.text_area :description %>
    <% event.errors.full_messages_for(:description).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
