<% content_for :page_classes do 'events events-index' end %>
<% content_for :page_header do %>
  <%= image_tag asset_path('calendar.svg') %>
  <h1>Events Central</h1>
  <%= image_tag asset_path('calendar.svg') %>
<% end %>

<% if @events.empty? %>
  <div class="no-events">
    <p>No events to show!</p>

    <% if user_signed_in? %>
      <p>Maybe you can help us by <%= link_to 'hosting an event', new_event_path %>?</p>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/sort_select_form', sort: @sort %>
<% end %>

<%= render 'shared/events_list',
            events: @events.future,
            list_name: 'Upcoming Events',
            curr_user: @curr_user %>
<%= render 'shared/events_list',
            events: @events.past,
            list_name: 'Past Events',
            curr_user: @curr_user %>
