<h2>Create a New Event</h2>

<%= form_with model: @event do |form| %>
  <div class="creator">
    <p>Host: <strong><%= current_user.username %></strong></p>
  </div>

  <div class="field">
    <%= form.label :name, 'What is the name of your event?' %>
    <%= form.text_field :name %>
    <% @event.errors.full_messages_for(:name).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <p>Where and when is your event happening?</p>

  <div class="field">
    <%# Not using form.datetime_select due to Rails's wonky placement of the AM/PM marker %>
    <div class="happening-datetime">
      <%= form.label :happening_date, 'Date:' %>
      <%= form.date_field :happening_date %>
      <div class="happening-time">
        <%= form.label :happening_time, 'Time:' %>
        <%= form.time_field :happening_time %>
      </div>
    </div>
    <% %i(happening_date happening_hour happening_minute happening_ampm).each do |attribute| %>
      <% @event.errors.full_messages_for(attribute).each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location, 'Location:' %>
    <%= form.text_field :location %>
    <% @event.errors.full_messages_for(:location).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description, 'Provide a brief description of your event:' %>
    <%= form.text_area :description %>
    <% @event.errors.full_messages_for(:description).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
