<% content_for :page_classes do 'invitations form invitations-new' end %>
<% content_for :page_header do %>
  <h2>Invite a User to Event “<%= @event.name %>”</h2>
<% end %>

<%= form_with model: [@event, @sample_invitation] do |form| %>
  <div class="invited-event">
    <p class="label">Event:</p> 
    <strong><%= @event.name %></strong>
  </div>
  <div class="field">
    <%= label_tag 'invitations[invitee_usernames]', 'Usernames of invited users:' %>
    <p><em>Separate each username with a comma</em></p>
    <%= text_area_tag 'invitations[invitee_usernames]', @invitee_usernames, placeholder: 'user1, user2, user3,...' %>
    <% @invitations.each do |invitation| %>
      <% invitation.errors.full_messages_for(:invitee_username).each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    <% end %>
    <% if @invitations.any? { |invitation| invitation.errors[:invitee].any? } %>
      <p class="error">Removed the following users from invite list:</p>
      <ul class="error-list">
        <% @invitations.each do |invitation| %>
          <% invitation.errors.full_messages_for(:invitee).each do |message| %>
            <li class="error"><%= message %></li>
          <% end %>
        <% end %>
      </ul>
      <% if @invitations.any? { |invitation| invitation.errors[:invitee].none? }%>
        <p class="error">Click "Invite" again to invite the remaining users on your invite list.</p>
      <% end %>
    <% end %>
  </div>
  <div class="notes field">
    <%= form.label :notes, 'Notes:' %>
    <%= form.text_area :notes, placeholder: 'Provide any notes or questions for the invited user (e.g., cost, timing, food allergies).' %>
    <% @sample_invitation.errors.full_messages_for(:notes).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>
  <div class="submit"><%= form.submit 'Invite' %></div>
<% end %>
