<% content_for :page_classes do ' form' end %>
<%= form_with model: event_registration, url: form_url do |form| %>
  <div class="attendee">
    <p class="label">Attendee:</p> 
    <strong><%= event_registration.attendee.username %></strong>
  </div>
  <div class="attended-event">
    <p class="label">Event:</p> 
    <strong><%= event.name %></strong>
  </div>
  <div class="notes field">
    <%= form.label :notes, 'Notes:' %>
    <%= form.text_area :notes, placeholder: 'Provide any notes, questions, or concerns for the host (e.g., cost, timing, food allergies).' %>
    <% event_registration.errors.full_messages_for(:notes).each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>
  <div class="submit"><%= form.submit submit_text %></div>
<% end %>
